<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TaskCatchupNotification.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TaskCatchupV2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TaskCatchupWidgetsExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>822F439D306E64B500737E1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>822F43AF306E64B600737E1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>822F43B9306E64B600737E1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82C2F5B830726B71008EBA01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
